body {
background-image: url("https://www.lifewire.com/thmb/XHzuQbQEoT8sBwl91xYF6UyWsrU=/1920x1080/filters:no_upscale():max_bytes(150000):strip_icc()/offlinecars-asphalt8-5bf393bb46e0fb002650eb20.jpg");
}
#myCanvas{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}